.greetingForm {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.inputAndButtonContainer {
	display: flex;
	align-items: start;
	gap: 12px;
}

.error {
	color: red;
}

.input {
	width: 372px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 8px 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.input:focus {
}

.errorInput {
	border: 1px solid red;
}

.button {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	color: #fff;
	border-radius: 3px;
	border: none;
	padding: 8px 24px;
	width: 78px;
	background: #06c;
}

.button:focus {
}

.button:active {
}

.button:disabled {
	opacity: 0.5;
}

.text {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

.greeting {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
}
